.flashcard {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-weight: 700;
}

.intro h1{
    font-size: 1.5em;
}

.question {
    color: black;
    width: 100px;
    height: 30px;
}

button {
    background-color: grey
}